@model IEnumerable<CRUD_Using_Repository.Models.User>
@{
    ViewData["Title"] = "GetUsersList";
}

<div class="contianer">
    <div class="row">
        @if(TempData["userError"]!=null)
        {
            <div class="alert alert-danger notification text-center">
                 @TempData["userError"]
            </div>
        }
        @if (TempData["userSuccess"] != null)
        {
            <div class="alert alert-success notification text-center">
                @TempData["userSuccess"]
            </div>
        }
        <div class="col-10 offset-1">

            <div class="float-end">
                <a class="btn btn-sm btn-primary p-1 m-1" asp-action="AddUser" asp-controller="User">Add Product</a>
            </div>

            <table class="table table-hover table-striped table-bordered">
                <thead class="text-center bg-dark text-light">
                    <tr>
                        <th>SKU</th>
                        <th>Product Name</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr class="text-center">
                            <td>@d.SKU</td>
                            <td>@d.Product_Name</td>
                            <td>@d.Stock</td>
                            <td>@d.Price</td>
                            <td>@d.Category</td>
                       
                            <td>
                                <a class="btn btn-sm btn-primary m-1" asp-controller="User" asp-action="Edit" asp-route-id="@d.SKU">Edit</a>
                                <!--<a class="btn btn-sm btn-info m-1" asp-controller="User" asp-action="">Details</a>-->
                                <a class="btn btn-sm btn-danger m-1" asp-controller="User" asp-action="DeleteRecord" asp-route-id="@d.SKU" onclick="return confirm('Are you Sure, You want to Delete this Record!')">Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

