@model IEnumerable<Inventory.Models.Product>
@{
    ViewData["Title"] = "GetProductsList";
}
<div class="container py-4">
    <div class="row">
        @if (TempData["productError"] != null)
        {
            <div class="alert alert-danger notification text-center">
                @TempData["productError"]
            </div>
        }
        @if (TempData["productSuccess"] != null)
        {
            <div class="alert alert-success notification text-center">
                @TempData["productSuccess"]
            </div>
        }

        <div class="col-12">

            <!-- Button to Add Product -->
            <div class="d-flex justify-content-end mb-3">
                <a class="btn btn-sm btn-primary p-2" asp-action="AddProduct" asp-controller="Product">Add Product</a>
            </div>

            <!-- Table -->
            <table class="table table-hover table-striped table-bordered">
                <thead class="text-center bg-dark text-light">
                    <tr>

                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>SKU</th>
                        <th>Stock</th>
                        <th>Price($)</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr class="text-center">

                            <td>@d.ProductId</td>
                            <td>@d.ProductName</td>
                            <td>@d.SKU</td>
                            <td>@d.Stock</td>
                            <td>@d.Price</td>
                            <td>@d.Category</td>
                            <td>
                                <a class="btn btn-sm btn-primary m-1" asp-controller="Product" asp-action="Edit" asp-route-id="@d.ProductId">Edit</a>
                                <a class="btn btn-sm btn-danger m-1" asp-controller="Product" asp-action="DeleteRecord" asp-route-id="@d.ProductId" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="/js/site.js"></script>
}